<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" class="position-relative">
    <label for="license" class="form-label">
        Placa:
        <input type="text" formControlName="license" class="form-control">
    </label>
    <br>
    <label for="owner" class="form-label">
        Propietario:
        <input type="text" formControlName="owner" class="form-control">
    </label>
    <br>
    <label for="brand" class="form-label">
        Marca:
        <input type="text" formControlName="brand" class="form-control">
    </label>
    <br>
    <label for="latitude" class="form-label">
        Latitud:
        <input type="text" formControlName="latitude" class="form-control">
    </label>
    <br>
    <label for="longitude" class="form-label">
        Longitud:
        <input type="text" formControlName="longitude" class="form-control">
    </label>
    <br>
    <button type="submit" [disabled]="!vehicleForm.valid" class="btn btn-primary mb-3">Guardar</button>
    <span> | </span>
    <a routerLink="/">Volver</a>

</form>
